.App {
  text-align: center;
}

body {
  background-color : linear-gradient(120deg, #0f2027, #203a43, #2c5364);
}

.App-header {
  background-color: #0f2027;
  opacity:0.95;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position : relative;
}


.currentTime {
  background-color : #c9f6f6;
  font-size : calc(10px + 2vmin);
  height:40px;
  width:100%;
  position : relative;
  text-align:center;
  color:black;
  
}

.ButtonBox {
  background-color :#5FCDD9; opacity:0.85;
  min-height:80vh;
  position:relative;
}

.mainBox {
  background-color : #2c5364 ; 
  height:628px;
  margin-top:0;
}

.weightButton, .runningPlannerButton {
  background-color:#5FCDD9;
  color : navy;
  margin-right : 150px;
  margin-left : 150px;
  border:none; font-size: clac(30px + 2vmin);
  width:300px;
  height: 400px;
  margin-top : 50px;
  box-shadow: 0 8px 15px rgba(0,0,0,0.2);
  transition: all 0.3s ease;     
}


.weightButton:hover , .runningPlannerButton:hover {
  opacity:0.9;
  transform: translateY(-5px); 
  box-shadow: 0 12px 24px rgba(0,0,0,0.3),
              0 0 20px rgba(95, 205, 217, 0.8);
}


